<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <% data.forEach(plant => { %>
        <p>Name: <%= plant.name %></p>
        <p>Spotted on: <%= plant.date_time %></p>
        <p>Height: <%= plant.height %> </p>
        <p>Spread: <%= plant.spread %> </p>
        <p>Flowers: <%= plant.flowers %> </p>
        <% if (plant.flowers) { %>
            <p>Flower colour: <%= plant.flower_colour %></p>
        <% } %>
        <p>Leaves: <%= plant.leaves %> </p>
        <p>Fruit: <%= plant.fruit %> </p>
        <p>Seeds: <%= plant.seeds %> </p>
        <p>Sun coverage: <%= plant.sun %> </p>
        <p>Identification: <%= plant.identification %> </p>
        <p>DBPedia link: <a href="<%= plant.dbpedia %>" target="_blank"><%= plant.dbpedia %></a> </p>
        <img src="<%= plant.photo %>" width="200" height="200">
        <p>Spotted by: <%= plant.uname %> </p>
      <% });%>
    </div>
  </body>
</html>

<!--full sun, partial shade, full shade-->

<!--datetime-->
<!--location-->
<!--description-->
<!--size (height and spread)-->
<!--characteristics:-->
<!--  flowers? if so then colour?-->
<!--  leaves?-->
<!--  fruits or seeds?-->
<!--  sun exposure-->
<!--identification: - updatable-->
<!--  name-->
<!--  status (completed/in-progress)-->
<!--  DBPedia link-->
<!--photo-->
<!--nickname-->
<!--comments-->
